<% title "Metafield" %>

<p>
  <strong>Namespace:</strong>
  <%=h @metafield.namespace %>
</p>
<p>
  <strong>Key:</strong>
  <%=h @metafield.key %>
</p>
<p>
  <strong>Value:</strong>
  <%=h @metafield.value %>
</p>
<p>
  <strong>Value Type:</strong>
  <%=h @metafield.value_type %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @metafield.description %>
</p>
